* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  /* border: 0.5px solid black; */
}

:root {
  --border-color: black; /* You can replace #cccccc with your desired color */
}

.vega-actions {
  display: none;
}

body {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 0;
  font-size: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 1280px;
  overflow: hidden;
  /* margin-top: 3px; */
  /* margin-bottom: 3px; */
}

button {
  line-height: 1.2;
}

.strava-logo {
  height: 35px;
}

.header {
  text-align: left;
  padding: 10px 20px;
}

.main-content-container {
  display: flex;
  flex-direction: row;
}

.main-content {
  width: 70%;
  padding: 10px;
}

.visualization {
  padding: 10px;
  border-radius: 5px;
  height: 80vh;
  overflow-y: auto;
  border: 0.5px solid var(--border-color);
}

.visualization > div {
  width: 100%;
}

.sidebar {
  width: 40%;
  padding: 10px;
}

.chat-box {
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  border: 0.5px solid var(--border-color);
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-message img.logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.chat-message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  border: 0.5px solid var(--border-color);
}

.chat-message p {
  margin: 0 0 5px;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: flex-end;
  padding-top: 5px;
}

@media (max-width: 768px) {
  .main-content-container {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .main-content,
  .sidebar {
    width: 100%;
  }

  .visualization {
    max-height: calc(60vh);
  }

  .chat-box {
    max-height: calc(30vh);
  }

  .container {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .popover-content {
    background-color: black;
  }
  .chat-message img.logo {
    filter: invert(1);
  }
  :root {
    --border-color: white;
  }
}
