* {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
  border: 0.5px solid black;
}

.vega-actions {
  display: none;
}

body {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header {
  text-align: left;
  padding: 10px;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 1rem;
  color: #555;
}

.main-content-container {
  display: flex;
  flex-direction: row;
}

.main-content {
  width: 60%;
  padding: 10px;
}

.visualization {
  padding: 10px;
  border-radius: 5px;
  height: calc(80vh);
  overflow-y: auto;
}

.visualization > div {
  width: 100%;
}

.sidebar {
  width: 40%;
  padding: 10px;
}

.chat-box {
  padding: 10px;
  border-radius: 5px;
  height: calc(80vh);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-message img.logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.chat-message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: flex-end;
  padding-top: 5px;
}

@media (max-width: 768px) {
  .main-content-container {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .main-content,
  .sidebar {
    width: 100%;
  }

  .visualization {
    max-height: calc(50vh);
  }

  .chat-box {
    max-height: calc(30vh);
  }
}

@media (prefers-color-scheme: dark) {
  .loading {
    --loading-color-1: #22222200;
    --loading-color-2: #222222ff;
  }

  .popover-content {
    background-color: black;
  }
  .chat-message img.logo {
    filter: invert(1);
  }
}
