<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load socialaccount %}
    {% load markdown_extras %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light dark" />
        <title>Tanda Assistant</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/index.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega@5.28.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.18.1"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.25.0"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12"
                integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="container">
            <header class="header">
                <div style="display: flex;
                            justify-content: space-between;
                            align-items: flex-start">
                    <div>
                        <h1>Tanda Assistant</h1>
                        <!-- <p>Your personal data visualization and chat assistant</p> -->
                    </div>
                    <a href="{% provider_login_url 'strava' %}"
                       class="strava-login"
                       style="display: block">
                        <img src="{% static 'icons/strava.png' %}"
                             alt="Login with Strava"
                             class="strava-logo" />
                    </a>
                </div>
                {{ visualizations|json_script:"visualizations" }}
            </header>
            <div class="main-content-container">
                <main class="main-content">
                    <div class="visualization">
                        <div id="weekly_chart">Visualization 1</div>
                        <div id="rolling_tanda">Visualization 2</div>
                        <div id="marathon_predictor">Visualization 2</div>
                    </div>
                </main>
                <aside class="sidebar">
                    <div class="chat-box" hx-ext="ws" ws-connect="/ws/chat/">
                        <div class="chat-messages" id="message-list">
                            <div class="chat-message">
                                <img src="{% static 'icons/robot-face.png' %}" class="logo">
                                Hi! I'm your Tanda Assistant, here to help you with any questions about your training!
                            </div>
                        </div>
                        <form id="form"
                              ws-send
                              hx-trigger="keyup[key=='Enter'&&!shiftKey], click from:#sendMessage">
                            <div>
                                <textarea name="message"
                                          placeholder="Say something..."
                                          rows="3"
                                          class="textarea"
                                          hx-trigger="keyup[key=='Enter'&&!shiftKey]"
                                          id="messageinput"></textarea>
                            </div>
                            <div class="right">
                                <button type="submit" id="sendMessage">Send</button>
                                <button type="button" id="stopMessage">Stop</button>
                                <button type="button" onclick="${reset}">Reset</button>
                            </div>
                        </form>
                    </div>
                </aside>
            </div>
        </div>
    </body>
</html>
